absl-py==2.1.0
addict==2.4.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1702571698061/work
black==21.4b2
blessed==1.23.0
build==1.1.1
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
charset-normalizer==3.4.4
click==8.1.8
cloudpickle==2.2.1
colour-demosaicing==0.1.6
colour-science==0.3.16
cycler==0.11.0
debugpy==1.6.7
detectron2==0.5+cu111
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1681884646122/work
filelock==3.12.2
fonttools==4.38.0
fsspec==2023.1.0
ftfy==6.1.1
future==1.0.0
fvcore==0.1.5.post20221221
google-auth==2.41.1
google-auth-oauthlib==0.4.6
gpustat==1.1.1
-e git+https://github.com/IDEA-Research/GroundingDINO.git@856dde20aee659246248e20734ef9ba5214f5e44#egg=groundingdino
grpcio==1.62.3
huggingface-hub==0.16.4
hydra-core==1.3.2
idna==3.10
imageio==2.31.2
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflect==6.0.5
iopath==0.1.8
joblib==1.3.2
kiwisolver==1.4.5
Markdown==3.4.4
MarkupSafe==2.1.5
-e git+https://github.com/microsoft/GLIP.git@9dda9558c1ef59bb6cdc8e896e2bcab775a68ff0#egg=maskrcnn_benchmark
matplotlib==3.5.3
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.21.6
nvidia-ml-py==13.580.82
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.12.0.88
packaging==24.0
pandas==1.3.5
pathspec==0.11.2
Pillow==9.5.0
pip-tools==6.14.0
platformdirs==4.0.0
portalocker==2.7.0
prettytable @ file:///home/conda/feedstock_root/build_artifacts/prettytable_1681201605171/work
protobuf==3.20.3
psutil==7.1.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pydantic==1.10.24
pydot==2.0.0
pyparsing==3.1.4
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.1
regex==2024.4.16
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
safetensors==0.4.5
scipy==1.7.3
six==1.17.0
supervision==0.6.0
tabulate==0.9.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
termcolor==2.3.0
timm==0.9.12
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==1.9.1+cu111
torch-analyzer==1.4.2
torchaudio==0.9.1
torchvision==0.10.1+cu111
tqdm==4.67.1
transformers==4.30.2
typed-ast==1.5.5
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
urllib3==2.0.7
wcwidth==0.2.14
Werkzeug==2.2.3
yacs==0.1.8
yapf==0.43.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
